.vanila-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.2s;
}

.gallery-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.gallery-card:hover {
  transform: scale(1.01);
}

.gallery-card p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

.gallery-card .download-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 10px;
  right: 10px;
}
.download-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);    
}

.gallery-card .download-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal */

.gallery-modal {
  background: rgba(0, 0, 0, 0.658);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  visibility: hidden;
} 
.modal-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.gallery-modal .modal-section img {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

.gallery-modal .modal-section .title-part {
  padding: 20px 12px 0px 12px;
}
.title-part .title-section {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.gallery-modal .modal-section .title-part p {
  display: inline;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  }
.title-btns {
  display: inline-block;
}
.modal-download-link {
  text-decoration: none;
}
.modal-download-ico svg{
  vertical-align: baseline;
}
.modal-download-btn {
  background-color: rgba(255, 255, 255, 0);
  color: #FFF;
  padding: 8px 12px;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #FFF;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}
.modal-download-text {
  font-size: 14px;
  vertical-align: top;
}
.cross-btn {
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-position: center; 
  border: 1px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
.cross-btn svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title-btns button:hover {
  background-color: rgba(255, 255, 255, 0.205);
}

.gallery-modal .modal-btns{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  height: 100vh;
}

.gallery-modal .modal-btns button{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  color: #FFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 1;
} 

.gallery-modal .modal-btns button:hover{
  background-color: rgba(255, 255, 255, 0.205);
}
